
fastapi==0.109.0
uvicorn[standard]==0.27.0
jinja2==3.1.3
python-multipart==0.0.6
sqlalchemy==2.0.25
oracledb
aiomysql
pyodbc
numpy==1.24.4
pandas==2.0.3
openpyxl==3.1.2
lxml
passlib==1.7.4
bcrypt==4.0.1
cryptography
python-dotenv
korean-lunar-calendar